@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@layer base {
    body {
        @apply font-[Raleway];

    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.instagram {
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  }
  .github {
    background-image: linear-gradient(79deg, #374151, #42464d 48%, #55575a);
  }
  .linkedin {
    background-image: linear-gradient(79deg, #152ff2, #7da9fc 48%, rgb(72, 118, 255));
  }
  